body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;

  margin-left: 25%;
  text-align: center;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 2em;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  /*width: 34px;*/

  width: 200px;
  height: 160px;
  font-size: 100px;

  transition: background-color 0.7s;
}

.square:focus {
  outline: none;
}

.square:hover {
  background-color: #fafe6f;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}